<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded row">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic" style="margin-top: 20%;">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
        <div class="col-md-6 px-0">
            <img src="./../../../../assets/img/cesta-mixta.webp" class="img-fluid" alt="" style="height: 500px;">
        </div>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="pesquise por produto desejado" aria-label="Search">
        </form>

        <p *ngFor="let user of usuario" [ngStyle]="[returnPalavras()]">
            {{user.name}}
            {{returnPalavras()}}
        </p>
    </div>

</div>



<div class="container">
    <footer class="py-4 my-4 border-top ">
        <p class="text-center text-body-secondary ">© 2023 Company, Inc</p>
    </footer>
</div>